html{
    background-image:url("pexels-pixabay-53404.jpg");
    background-size:cover;
    height:100%;
    display: flexbox;
  
   


}.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1{
    font-size: 50px;
}

span{
    margin: 12px 0;
}

.area-input{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-input input{
    width: 100%;
    margin-bottom: 12px;
    height: 46px;
    background-color:black;
    border:0;
    border-radius:  6px;
    color: aliceblue;
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
}

.area-input button{
    width: 100%;
    height: 46px;
    border:0;
    border-radius: 6px;
    background-color: #357ff3;
    color: azure;
    font-size: 18px;
}

.area-input button:hover{
    background-color: rgba(2, 114, 241, 0.616);
	color: #2b2d2e;
}

h2{
    margin: 25px;
}
@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
     
}